<div class="container mx-auto py-5 px-5 sm:px-0">
  <header class="flex items-center">
    <div class="text-xl flex-1 lg:text-3xl">
      <span class="text-primaryYellowCustom">Social</span>
      <span class="text-primaryRedCustom-200">Network</span>
    </div>
    <div class="hidden lg:flex space-x-4 w-full justify-end">
      <div class="flex w-6/12">
        <input
          type="search"
          placeholder="Search Anithing..."
          class="bg-primaryYellowCustom text-primaryRedCustom text-sm w-full indent-2 p-2.5 outline-none focus:border-primaryRedCustom-200 focus:ring-2"
        />
        <div
          class="text-primaryRedCustom bg-primaryYellowCustom flex justify-center items-center px-2"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="icon search"
            fontIcon="search"
          ></mat-icon>
        </div>
        <!-- <button
          class="bg-primaryYellowCustom px-6 py-2.5 text-primaryRedCustom  focus:ring-2 focus:ring-blue-300 disabled:bg-gray-400"
        >
          Search
        </button> -->
      </div>
      <!-- upload -->
      <div class="flex justify-center items-center">
        <label
          for="upload"
          class="flex justify-center items-center cursor-pointer bg-primaryYellowCustom text-primaryRedCustom border border-primaryRedCustom-200 p-2.5"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Icon Upload"
            fontIcon="upload"
          ></mat-icon>
          Upload
        </label>
        <input type="file" name="upload" id="upload" class="hidden" />
      </div>
      <!-- avatar -->
      <div class="flex justify-center items-center space-x-1">
        <div
          class="bg-primaryYellowCustom border border-primaryRedCustom-200 p-2.5 flex justify-center items-center text-primaryRedCustom"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Icon user"
            fontIcon="person"
          ></mat-icon>
        </div>
        <div class="text-primaryYellowCustom">
          <span class="block text-lg">Wassem</span>
          <span class="text-sm">Arshad</span>
        </div>
      </div>
    </div>
  </header>

  <!-- breadcrumb -->
  <div class="mt-5 py-2 border-primaryRedCustom-200 border-b-2 border-t-2 text-white">
    <a href="#" class="my-10 text-primaryYellowCustom">Videos</a> /
    <a href="#" class="my-10 text-primaryYellowCustom">People</a> /
    <a href="#" class="my-10 text-primaryYellowCustom">Documents</a> /
    <a href="#" class="my-10 text-primaryYellowCustom">Events</a> /
    <a href="#" class="my-10 text-primaryYellowCustom">Communities</a> /
    <a href="#" class="my-10 text-primaryYellowCustom">Favorites</a> /
    <a href="#" class="my-10 text-primaryYellowCustom">Channels</a>
  </div>

  <!-- content -->
  <div class="flex lg:space-x-6 mt-10 flex-col lg:flex-row">
    <main class="w-full lg:w-8/12">
      <!-- videos -->
      <div class="mb-14">
        <div
          class="w-full lg:w-[66%] flex justify-between items-center text-primaryYellowCustom pb-2"
        >
          <div class="text-xl">Videos</div>
          <div class="text-sm">Browse all videos</div>
        </div>
        <div class="flex justify-items-center lg:h-80 lg:space-x-4 w-full flex-col lg:flex-row space-y-4 lg:space-y-0">
          <div class="w-full h-full lg:w-[68%] relative">
            <img
              src="https://images.unsplash.com/photo-1571826867433-29518cc0b091?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
              alt="user 1"
              class="w-full h-full object-cover object-center"
            />

            <div
              class="absolute inset-x-0 bottom-0 h-16 px-3 py-2 text-primaryRedCustom bg-primaryYellowCustom/50"
            >
              <div class="text-xl truncate">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae quia beatae magni iste cum cupiditate mollitia optio
                iusto recusandae porro placeat rerum voluptas eaque, at
                temporibus. Perspiciatis ullam odio corporis?
              </div>
              <div class="flex justify-between items-center">
                <div class="text-xl truncate">Wassem Arshad</div>
                <div class="text-sm">2000 Views</div>
              </div>
            </div>
          </div>
          <div class="w-full h-full lg:w-4/12 relative">
            <img
              src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
              alt="user 1"
              class="w-full h-full object-cover object-center"
            />
            <div
              class="absolute inset-x-0 bottom-0 h-16 px-3 py-2 text-primaryRedCustom bg-primaryYellowCustom/50"
            >
              <div class="flex justify-between items-end">
                <div class="text-xl truncate">Wassem Arshad</div>
                <div class="text-sm">2000 Views</div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-center lg:h-80 lg:space-x-4 mt-3 flex-col lg:flex-row space-y-4 lg:space-y-0 justify-items-center">
          <div class="w-full h-full lg:w-4/12 relative">
            <img
              src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80"
              alt="user 1"
              class="w-full h-full object-cover object-center"
            />
            <div
              class="absolute inset-x-0 bottom-0 h-16 px-3 py-2 text-primaryRedCustom bg-primaryYellowCustom/50"
            >
              <div class="flex justify-between items-end">
                <div class="text-xl truncate">Wassem Arshad</div>
                <div class="text-sm">2000 Views</div>
              </div>
            </div>
          </div>
          <div class="w-full h-full lg:w-4/12 relative">
            <img
              src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
              alt="user 1"
              class="w-full h-full object-cover object-center"
            />
            <div
              class="absolute inset-x-0 bottom-0 h-16 px-3 py-2 text-primaryRedCustom bg-primaryYellowCustom/50"
            >
              <div class="flex justify-between items-end">
                <div class="text-xl truncate">Wassem Arshad</div>
                <div class="text-sm">2000 Views</div>
              </div>
            </div>
          </div>
          <div
            class="w-full h-full lg:w-4/12 relative border-primaryRedCustom-200 border-4 flex justify-center items-center"
          >
            <div class="flex justify-center items-center">
              <label
                for="upload"
                class="flex justify-center items-center cursor-pointer text-primaryYellowCustom border-primaryRedCustom-200 p-2.5"
              >
                <div
                  class="border border-4 rounded-full flex justify-center items-center p-2 mr-3"
                >
                  <mat-icon
                    aria-hidden="false"
                    aria-label="Icon Upload"
                    fontIcon="upload"
                  ></mat-icon>
                </div>
                Upload Your Own Video
              </label>
              <input type="file" name="upload" id="upload" class="hidden" />
            </div>
          </div>
        </div>
      </div>
      <!-- people -->
      <div class="mb-14">
        <div
          class="w-full lg:w-[66%] flex justify-between items-center text-primaryYellowCustom pb-2"
        >
          <div class="text-xl">People</div>
          <div class="text-sm">View all</div>
        </div>
        <div class="flex justify-items-center lg:h-80 lg:space-x-4 w-full flex-col lg:flex-row space-y-4 lg:space-y-0">
          <div class="w-full h-full lg:w-[68%] relative">
            <img
              src="https://images.unsplash.com/photo-1571826867433-29518cc0b091?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
              alt="user 1"
              class="w-full h-full object-cover object-center"
            />

            <div
              class="absolute inset-x-0 bottom-0 h-16 px-3 py-2 text-primaryRedCustom bg-primaryYellowCustom/50"
            >
              <div class="text-xl truncate">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae quia beatae magni iste cum cupiditate mollitia optio
                iusto recusandae porro placeat rerum voluptas eaque, at
                temporibus. Perspiciatis ullam odio corporis?
              </div>
              <div class="flex justify-between items-center">
                <div class="text-xl truncate">Wassem Arshad</div>
                <div class="text-sm">2000 Views</div>
              </div>
            </div>
          </div>
          <div class="w-full h-full lg:w-4/12 relative">
            <img
              src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
              alt="user 1"
              class="w-full h-full object-cover object-center"
            />
            <div
              class="absolute inset-x-0 bottom-0 h-16 px-3 py-2 text-primaryRedCustom bg-primaryYellowCustom/50"
            >
              <div class="flex justify-between items-end">
                <div class="text-xl truncate">Wassem Arshad</div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-center lg:h-80 lg:space-x-4 mt-3 flex-col lg:flex-row space-y-4 lg:space-y-0 justify-items-center mt-3">
          <div class="w-full h-full lg:w-4/12 relative">
            <img
              src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80"
              alt="user 1"
              class="w-full h-full object-cover object-center"
            />
            <div
              class="absolute inset-x-0 bottom-0 h-16 px-3 py-2 text-primaryRedCustom bg-primaryYellowCustom/50"
            >
              <div class="flex justify-between items-end">
                <div class="text-xl truncate">Wassem Arshad</div>
                
              </div>
            </div>
          </div>
          <div class="w-full h-full lg:w-4/12 relative">
            <img
              src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
              alt="user 1"
              class="w-full h-full object-cover object-center"
            />
            <div
              class="absolute inset-x-0 bottom-0 h-16 px-3 py-2 text-primaryRedCustom bg-primaryYellowCustom/50"
            >
              <div class="flex justify-between items-end">
                <div class="text-xl truncate">Wassem Arshad</div>
                
              </div>
            </div>
          </div>
          <div
            class="w-full h-full lg:w-4/12 relative border-primaryRedCustom-200 border-4 flex justify-center items-center"
          >
            <div class="flex justify-center items-center">
              <label
                for="upload"
                class="flex justify-center items-center cursor-pointer text-primaryYellowCustom border-primaryRedCustom-200 p-2.5"
              >
                <div
                  class="border border-4 rounded-full flex justify-center items-center p-2 mr-3"
                >
                  <mat-icon
                    aria-hidden="false"
                    aria-label="Icon Album"
                    fontIcon="album"
                  ></mat-icon>
                </div>
                Show Your Work
              </label>
              <input type="file" name="upload" id="upload" class="hidden" />
            </div>
          </div>
        </div>
      </div>
      <!-- Documents -->
      <div class="mb-14">
        <div
          class="w-full lg:w-[66%] flex justify-between items-center text-primaryYellowCustom pb-2"
        >
          <div class="text-xl">Documents</div>
          <div class="text-sm">Browse all documents</div>
        </div>
        <div class="flex justify-items-center lg:h-80 lg:space-x-4 w-full flex-col lg:flex-row space-y-4 lg:space-y-0">
          <div class="w-full h-full lg:w-[68%] relative">
            <img
              src="https://images.unsplash.com/photo-1571826867433-29518cc0b091?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
              alt="user 1"
              class="w-full h-full object-cover object-center"
            />

            <div
              class="absolute inset-x-0 bottom-0 h-16 px-3 py-2 text-primaryRedCustom bg-primaryYellowCustom/50"
            >
              <div class="text-xl truncate">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae quia beatae magni iste cum cupiditate mollitia optio
                iusto recusandae porro placeat rerum voluptas eaque, at
                temporibus. Perspiciatis ullam odio corporis?
              </div>
              <div class="flex justify-between items-center">
                <div class="text-xl truncate">Wassem Arshad</div>
                <div class="text-sm">2000 Views</div>
              </div>
            </div>
          </div>
          <div class="w-full h-full lg:w-4/12 relative">
            <img
              src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
              alt="user 1"
              class="w-full h-full object-cover object-center"
            />
            <div
              class="absolute inset-x-0 bottom-0 h-16 px-3 py-2 text-primaryRedCustom bg-primaryYellowCustom/50"
            >
              <div class="flex justify-between flex-col">
                <div class="text-xl truncate">Wassem Arshad</div>
                <div class="text-sm">2000 Views</div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-center lg:h-80 lg:space-x-4 mt-3 flex-col lg:flex-row space-y-4 lg:space-y-0 justify-items-center  mt-3">
          <div class="w-full h-full lg:w-4/12 relative">
            <img
              src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80"
              alt="user 1"
              class="w-full h-full object-cover object-center"
            />
            <div
              class="absolute inset-x-0 bottom-0 h-16 px-3 py-2 text-primaryRedCustom bg-primaryYellowCustom/50"
            >
              <div class="flex justify-between flex-col">
                <div class="text-xl truncate">Wassem Arshad</div>
                <div class="text-sm">2000 Views</div>
              </div>
            </div>
          </div>
          <div class="w-full h-full lg:w-4/12 relative">
            <img
              src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
              alt="user 1"
              class="w-full h-full object-cover object-center"
            />
            <div
              class="absolute inset-x-0 bottom-0 h-16 px-3 py-2 text-primaryRedCustom bg-primaryYellowCustom/50"
            >
              <div class="flex justify-between flex-col">
                <div class="text-xl truncate">Wassem Arshad</div>
                <div class="text-sm">2000 Views</div>
              </div>
            </div>
          </div>
          <div
            class="w-full h-full lg:w-4/12 relative border-primaryRedCustom-200 border-4 flex justify-center items-center"
          >
            <div class="flex justify-center items-center">
              <label
                for="upload"
                class="flex justify-center items-center cursor-pointer text-primaryYellowCustom border-primaryRedCustom-200 p-2.5"
              >
                <div
                  class="border border-4 rounded-full flex justify-center items-center p-2 mr-3"
                >
                  <mat-icon
                    aria-hidden="false"
                    aria-label="Icon add"
                    fontIcon="add"
                  ></mat-icon>
                </div>
                Share Your Documents
              </label>
              <input type="file" name="upload" id="upload" class="hidden" />
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- sidebar -->
    <aside class="w-full lg:w-4/12 text-primaryYellowCustom">
      <!-- activity -->
      <div
        class="flex items-center justify-between pb-1 border-b-4 border-primaryYellowCustom mb-5"
      >
        <div class="text-2xl w-6/12">Activity</div>
        <div class="text-sm w-6/12 text-end">
          View timeline/Filter activities
        </div>
      </div>
      <!-- content activity -->
      <ng-container *ngFor="let article of articles">
        <div class="flex justify-between space-x-2 mb-5">
          <div class="w-4/12 h-[100px]">
            <img
              [src]="article.thumbnailUrl"
              alt="user 1"
              class="w-full h-full object-cover object-center"
            />
          </div>
          <div class="w-8/12">
            <div class="text-lg">
              <span class="font-bold mr-3">John Stanior</span>
              <span>Connected</span>
            </div>
            <div class="text-lg truncate">
              {{ article.title }}
            </div>
            <div class="flex space-x-2">
              <mat-icon
                aria-hidden="false"
                aria-label="icon comments"
                fontIcon="comments"
              ></mat-icon>
              <p>2 Second ago</p>
            </div>
          </div>
        </div>
      </ng-container>
      <hr />

      <!-- channels -->
      <div
        class="flex items-center justify-between pb-1 border-b-4 border-primaryYellowCustom mt-10"
      >
        <div class="text-2xl w-6/12">Channels</div>
        <div class="text-sm w-6/12 text-end">Browse all channels</div>
      </div>
      <!-- content channels -->
      <div class="grid grid-cols-2 mt-10 gap-4 mb-5">
        <div
          class="bg-primaryYellowCustom text-primaryRedCustom p-6 text-xl h-40 flex items-end border border-4 border-primaryRedCustom-200"
        >
          Google
        </div>
        <div
          class="bg-primaryYellowCustom text-primaryRedCustom p-6 text-xl h-40 flex items-end border border-4 border-primaryRedCustom-200"
        >
          Dribble
        </div>
        <div
          class="bg-primaryYellowCustom text-primaryRedCustom p-6 text-xl h-40 flex items-end border border-4 border-primaryRedCustom-200"
        >
          Microsoft
        </div>
        <div
          class="bg-primaryYellowCustom text-primaryRedCustom p-6 text-xl h-40 flex items-end border border-4 border-primaryRedCustom-200"
        >
          Behance
        </div>
        <div
          class="bg-primaryYellowCustom text-primaryRedCustom p-6 text-xl h-40 flex items-end border border-4 border-primaryRedCustom-200"
        >
          Weather Channel
        </div>
        <div
          class="bg-primaryYellowCustom text-primaryRedCustom p-6 text-xl h-40 flex items-end border border-4 border-primaryRedCustom-200"
        >
          Facebook
        </div>
        <div
          class="bg-primaryYellowCustom text-primaryRedCustom p-6 text-xl h-40 flex items-end border border-4 border-primaryRedCustom-200"
        >
          iMedia
        </div>
        <div
          class="bg-primaryYellowCustom text-primaryRedCustom p-6 text-xl h-40 flex items-end border border-4 border-primaryRedCustom-200"
        >
          Createye
        </div>
        <div
          class="bg-primaryYellowCustom text-primaryRedCustom p-6 text-xl h-40 flex items-end border border-4 border-primaryRedCustom-200"
        >
          Khan Studios
        </div>
        <div
          class="bg-primaryYellowCustom text-primaryRedCustom p-6 text-xl h-40 flex items-end border border-4 border-primaryRedCustom-200"
        >
          Yahoo
        </div>
      </div>
      <hr />
    </aside>
  </div>

  <footer class="border-t-2 border-primaryYellowCustom">
    <!-- link -->
    <div class="flex items-center mt-10 space-x-4">
      <a
        href="#"
        class="bg-primaryYellowCustom w-[30px] h-[30px] flex justify-center items-center"
      >
        <div class="w-[15px] h-[15px]">
          <img
            src="./assets/images/twitter.png"
            alt="twitter"
            class="w-full h-full"
          />
        </div>
      </a>
      <a
        href="#"
        class="bg-primaryYellowCustom w-[30px] h-[30px] flex justify-center items-center"
      >
        <div class="w-[15px] h-[15px]">
          <img
            src="./assets/images/linkedin.png"
            alt="linkedin"
            class="w-full h-full"
          />
        </div>
      </a>
      <a
        href="#"
        class="bg-primaryYellowCustom w-[30px] h-[30px] flex justify-center items-center"
      >
        <div class="w-[15px] h-[15px]">
          <img
            src="./assets/images/facebook.png"
            alt="facebook"
            class="w-full h-full"
          />
        </div>
      </a>
    </div>

    <div class="my-8 text-white">
      <a href="#" class="my-10 text-primaryYellowCustom">About</a> /
      <a href="#" class="my-10 text-primaryYellowCustom">For Business</a> /
      <a href="#" class="my-10 text-primaryYellowCustom">Suggestions</a> /
      <a href="#" class="my-10 text-primaryYellowCustom">Help & FAQs</a> /
      <a href="#" class="my-10 text-primaryYellowCustom">Contacts</a> /
      <a href="#" class="my-10 text-primaryYellowCustom">Pricing</a> /
    </div>

    <div class="text-primaryYellowCustom">
      &copy; Copyright 2013 deddyrahmat
    </div>
    <div class="my-8 text-white">
      <a href="#" class="my-10 text-primaryYellowCustom">Privacy</a> /
      <a href="#" class="my-10 text-primaryYellowCustom">Terms</a>
    </div>
  </footer>
</div>
<router-outlet></router-outlet>
